*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.cyberpunk {
    margin: 40px auto 0;
    padding: 0;
    height: 540px;
    width: 960px;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    background: url('../images/Cyberpunk.png') center no-repeat;
    background-size: cover;
}

.background-linear-gradient {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 2px,
      rgba(0, 0, 0, 0.3) 1px,
      rgba(0, 0, 0, 0.3) 3px
    );
    background-size: 100% 3px;
    animation: infinite-move 0.1s infinite;
    position: absolute;
    top: 0;
  }

.logo {
    width: 550px;
    height: 135px;
    display: block;
    background: url('../images/Cyberpunk.logo.png') center no-repeat;
    cursor: pointer;
    position: absolute;
    right: 37px;
    bottom: 23px;
    z-index: 1;
    animation: logo-blinkink 6s infinite;
}

#toggle {
    display: none;
}

#toggle:checked ~ .block-1,
#toggle:checked ~ .block-2,
#toggle:checked ~ .block-3,
#toggle:checked ~ .block-4,
#toggle:checked ~ .block-5 {
    display: block;
}

.block-1, .block-2, .block-3,
.block-4, .block-5 {
    display: none;
    position: absolute;
}

.block-1 {
    width: 165px;
    height: 80px;
    top: 70px;
    left: 80px;
    background-color: red;
    animation: blinkink-block-1 1s infinite;
}

.block-1:after {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 80px;
    top: 40px;
    left: 100px;
    background-color: red;
}

.block-2 {
    width: 570px;
    height: 40px;
    top: 120px;
    right: 0;
    background-color: red;
    background: linear-gradient(to right, #ff2a00, #ff8a00, #66ff00);
    animation: blinkink-block-2 2.5s infinite;
}

.block-3 {
    width: 415px;
    height: 78px;
    top: 280px;
    left: 0;
    background-color: #89898b;
    animation: blinkink-block-3 2.5s infinite;
}

.block-4 {
    width: 240px;
    height: 10px;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    background: linear-gradient(to right, #fa0bc5, #93f100);
}

.block-5 {
    width: 80px;
    height: 15px;
    top: 0;
    right: 130px;
    background: linear-gradient(to right, #66ff00 50%, #ff8a00, #ff2a00); 
    opacity: 0.15;
}

.slide-block {
    width: 100%;
    height: 35px;
    background: url('../images/Slide-block-background.jpg') center no-repeat;
    background-size: cover;
    animation: slideDown 4s infinite;
}

.slide-block-color {
    width: 100%;
    height: 100%;
    background-color: #1e2feb;
    opacity: 0.3;
}

@keyframes slideDown {
    0% {
        transform: translateY(0px);
        background-position: -10px 0%;

    }

    75% {
        transform: translateY(540px);
      background-position: -10px 107%;
    }

    100% {
        transform: translateY(540px);
        background-position: -10px 107%;
        
    }
}

@keyframes logo-blinkink {
    0% {opacity: 1;}
    89% {opacity: 1;}
    89.5% {opacity: 0;}
    90.5% {opacity: 1;}
    91.5% {opacity: 0;}
    92.5% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes blinkink-block-1 {
    0% {opacity: 0;}
    5% {opacity: 0.2;}
    15% {opacity: 0;}
    34% {opacity: 0;}
    35% {opacity: 0.2;}
    45% { opacity: 0;}
    50% {opacity: 0;}
    100% { opacity: 0;}
}

@keyframes blinkink-block-2 {
    0% {opacity: 0;}
    70% {opacity: 0;}
    70.5% {opacity: 0.3;}
    72.9% {opacity: 0.3;}
    73% {opacity: 0;}
    86% {opacity: 0;}
    86.5% {opacity: 0.3;}
    88.5% {opacity: 0.3;}
    88.6% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes blinkink-block-3 {
    0% {opacity: 0;}
    96.8% {opacity: 0;}
    97% {opacity: 0.15;}
    100% {opacity: 0.15;}
}