*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.cyberpunk {
    margin: 40px auto 0;
    padding: 0;
    height: 540px;
    width: 960px;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    background: url('../images/Cyberpunk.png') center no-repeat;
    background-size: cover;
}

.logo {
    width: 550px;
    height: 135px;
    display: block;
    background: url('../images/Cyberpunk.logo.png') center no-repeat;
    cursor: pointer;
    position: absolute;
    right: 37px;
    bottom: 23px;
    z-index: 1;
}

#toggle {
    display: none;
}

#toggle:checked ~ .block-1,
#toggle:checked ~ .block-2,
#toggle:checked ~ .block-3,
#toggle:checked ~ .block-4,
#toggle:checked ~ .block-5 {
    display: block;
}

.block-1, .block-2, .block-3,
.block-4, .block-5 {
    display: none;
    position: absolute;
}

.block-1 {
    width: 165px;
    height: 80px;
    top: 70px;
    left: 80px;
    background-color: red;
    opacity: 0.15;
}

.block-1:after {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 80px;
    top: 40px;
    left: 100px;
    background-color: red;
}

.block-2 {
    width: 570px;
    height: 40px;
    top: 120px;
    right: 0;
    background-color: red;
    opacity: 0.2;
    background: linear-gradient(to right, #ff2a00, #ff8a00, #66ff00);
}

.block-4 {
    width: 240px;
    height: 10px;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    background: linear-gradient(to right, #fa0bc5, #93f100);
}

.block-5 {
    width: 80px;
    height: 15px;
    top: 0;
    right: 130px;
    background: linear-gradient(to right, #66ff00 50%, #ff8a00, #ff2a00); 
    opacity: 0.15;
}

.slide-block {
    width: 100%;
    height: 35px;
    background-color: transparent;
    animation: slideDown 3s infinite;
}

.slide-block-color {
    width: 100%;
    height: 100%;
    background-color: #1e2feb;
    opacity: 0.3;
}

@keyframes slideDown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(540px);
    }
}