*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.content {
    margin: 0 auto;
    padding: 0;
    height: 540px;
    width: 960px;
    background: url('../images/Cyberpunk.png') center no-repeat;
    background-size: cover;
}